$new_title_color: #fff
$sidebar_color: #d3d3d3
$blog_color: #fff
$link_color: #000000
$visited_link_color: #ff9900
$active_link_color: #990033
$sidebar_link_color: #fff
$sidebar_visited_link_color: #fff
$sidebar_active_link_color: #AFEEEE 
$sidebar_hover_link_color: #fff 
$post_title_color: #48D1CC
$foot_color: #c0c0c0
$hover_link_color: #AFEEEE  
$sidebar_hover_link_background_color: #AFEEEE 
$show_edit_destroy_link_hower_color: #48D1CC

=large-text
  :font
    :family Arial

.new-title
  +large-text
  background: $new_title_color
  text-align: center
  padding-top: 20px
  padding-bottom: 20px
  font-size: 50px
  font-weight: bold
  color: #A9A9A9

.sidebar
  +large-text
  background: $sidebar_color
  text-align: center 
  font-size: 18px                                         

.sidebar-menu
  a
    padding: 10px
    display: block
    color: #fff
    cursor: pointer
    &:visited
      color: $sidebar_visited_link_color
    &:active
      color: $sidebar_active_link_color
    &:hover
      color: $sidebar_hover_link_color
      background: $sidebar_hover_link_background_color
.sidebar-menu a:hower
  background: red
  color: red

.blog
  +large-text
  background: $blog_color                                                     
                                                                   

.content-title
  font-size: 30px

.post-title
  font-weight: bold
  color: $post_title_color

.content-post
  padding-top: 10px
  padding-bottom: 10px
  text-align: justify 

.show-edit-destroy
  paddind-button: 10px
  text-align: center
  a
    color: $link_color
    &:visited
      color: $visited_link_color
    &:active
      color: $active_link_color
    &:hover
      color: $show_edit_destroy_link_hower_color

.new-post
  padding-top: 20px
  padding-bottom: 20px
  font-size: 20px
  a
    color: $link_color
    &:visited
      color: $visited_link_color
    &:active
      color: $active_link_color
    &:hover
      color: $hover_link_color

.foot-copy
  +large-text
  background: $foot_color
  color: #fff
  font-size: 16px
  font-weight:bold



