.section-country-city
  font:
    family: Arial
    size: 14pt
  height: 130 px
  input
    padding:
      left: 14px
    color: #e1e1e1
    border:
      radius: 10px
    width: 220px
    height: 50px
    margin:
      right: 20px
  input[type=button]
    color: #fff
    background: #29daf7

.country-city-background
  background:
    position: 0 -230px
    image: image-url('sky.png')
    repeat: no-repeat
  padding:
    top: 30px
    bottom: 30px