//*
  //box-sizing: border-box

.row 
  width: 1000px
  margin: 0 auto
  margin-top: 50px
  //border: 1px solid black
.row_1
  width: 100%
  //border: 1px solid black




.small-4
  float: left
  width: percentage(1/3)
  //border: 1px solid black
  background-color: #FF9900

.small-6
  float: left
  width: 50%
  //border: 1px solid black
  background-color: #00CC99

