* 
  box-sizing: border-box

@for $i from 1 through 12
  .small-#{$i}
    float: left
    width: percentage(1/$i)

.row
  width: 1000px
  margin: 0 auto
  border: 1px solid black
  text-align: center

.clear
  clear: both

.row
  .row
    width: auto
    margin-top: 0
    
.bg-orange
  background-color: orange
.bg-blue
  background-color: blue
.bg-grey
  background-color: grey
.bg-purple
  background-color: purple

