$columns: 12
$padding: 30px 
$max_width:  980px
$offsets: 11
$small_width: 0

*
  box-sizing: border-box

.row
  margin: 0 auto
  max-width: $max_width
  .row
    margin:
      left: -$padding/2
      right: -$padding/2


.row:after
  content: " "
  display: block
  height: 0
  clear: both
  

.column
  padding: $padding/2
  float: left
  border: 1px solid blue

.small-sentered
  margin: 0 auto
  float: none
  background: pink
  border: 1px solid green 
  overflow: auto



@for $i from 1 through $columns
  .small-#{$i}
    width: percentage($i/$columns)


@for $j from 0 through $offsets
  .small-offset-#{$j}
    border: 1px solid black
    margin:
      left: percentage($j/$columns)

