$columns: 12
$padding: 30px 
$max_width:  980px
$small_width: 0

*
  box-sizing: border-box

.row
  margin: 0 auto
  max-width: $max_width
  .row
    margin:
      left: -$padding/2
      right: -$padding/2


.row:after
  content: " "
  display: block
  height: 0
  clear: both
  

.column
  padding: $padding/2
  float: left

.small-sentered
  margin: 0 auto
  float: none
  clear: both



@for $i from 1 through $columns
  .small-#{$i}
    width: percentage($i/$columns)


@for $j from 0 through -1+$columns
  .small-offset-#{$j}
    margin:
      left: percentage($j/$columns)

