
.row
	.column.small-4
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti architecto, ex libero nisi eligendi quam ut modi officiis voluptatem odio suscipit blanditiis, numquam distinctio vel nemo. Optio, doloremque ipsa.

%h1 Listing posts

%table
	%tr
		%th Title
		%th Content
		%th
		%th
		%th

