.row.content-title 
  Listing posts


- @posts.each do |post|
  .row
    .column.small-12.post-title
      = post.title
    .column.small-12.content-post
      = post.content
    
    .column.small-12.show-edit-destroy
      =link_to 'Show', post
      =link_to 'Edit', edit_post_path(post)
      =link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

.row
  .new-post
    =link_to 'New Post', new_post_path
