.section-content 
  .row
    .column.small-4
      =image_tag ("delicious_fly.jpg")
    .column.small-4.text-container
      %h1 
        Delicious flight.
        %br
          With SkyPoint.
      .sky-point-description-text.content-important-text
        SkyPoint provides inflight catering at premium flight aircrafts. Our clients got used to high quality, accuracy and irrespective!
      .sky-point-less-important-description-text
        Business class clients appreciate comfort and mind their status, whether it be appearance, means of transportation or any other material wealth.

      .important-figures-container.content-important-text
        More than   
        .color-figure
          2 500 
        satisfied customersan! 

      .skypoint-promise
        SkyPoint will do its best to add “flavor” to your trip!

      .read-more-link
        =link_to 'Read more about SkyPoint →', new_post_path




