.row.bg-grey
  .small-3
    asdasd
  .small-3
    asdasd
  .small-3
    asdasd
  .clear

.row.bg-orange
  .small-2
    kdkdd
  .small-2
    .row
      .small-2
        kdflfkm
      .small-2
        kdflfkm
      .clear
    .row
      .small-1
        fkjlfkj
      .clear
  .clear

.row.bg-purple
  .small-2
    klmdlkm
  .small-2
    clvf;lm,
  .clear